.header{
    width: 7.37rem;
    height: 4.96rem;
    /* background-color:blue; */
    margin: 0.2rem auto; 
}
.header .headebg{
	width: 7.1rem;
    height: 2.3rem;
    margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0.2rem 1.6rem 0px 
        rgba(153, 153, 153, 0.1);   
    border-radius: 0.2rem;
    background: url(../images/group.jpeg) no-repeat;
    background-size: 7.1rem 2.3rem;
	opacity: 1;
}
.headertext{
    position: relative;
    margin-left:0.6rem;
	width: 1.18rem;
	height: 2.9rem;
	font-family: PingFangSC-Medium;
	font-size: 0.3rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0px;
	letter-spacing: 0px;
    color: #ffffff;
}
.headertextl{
	width: 7.4rem;
	height: 2.4rem;
	font-family: PingFangSC-Regular;
	font-size: 0.26px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0px;
	letter-spacing: 0px;
	color: #ffffff;
}
.headertextr{
    margin-left: 2.5rem;
	width: 6.7rem;
	height: 2.9rem;
	font-family: PingFangSC-Medium;
	font-size: 0.38rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0px;
	letter-spacing: 0px;
	color: #ffffff;
 
}
.headeRR{
	width: 5.6rem;
	height: 2.9rem;
	margin: 0 auto;
}
.headertextrl{
    margin-left:3.1rem ;
}
.Touxiang{
    margin: -0.6rem auto;
    width: 1.77rem;
    height: 1.77rem;
}
.Touxiang img{
    width: 1.4rem;
    height: 1.4rem;
    margin-left:0.1rem ;
}
.headetexttou{
	font-family: PingFangSC-Regular;
	font-size: 0.28rem;
	font-weight: normal;
	font-stretch: normal;
	color: #28d58c;
}
.headerfoot{
    width: 100%;
    height: 0.27rem;
    position: relative;
    top: 1.5rem;
}
.headerfoot p{
	font-family: PingFangSC-Regular;
	font-size: 0.28rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0px;
	letter-spacing: 0px;
	color: #333333;
}
.headerfoot{
    padding-left: 0.5rem;
}
.content{
    width: 6.9rem;
    height: 4.79rem;
    border-radius:0.1rem;
    margin: 0.2rem auto;
    border:solid 1px #d1d1d1;
}
.content ul{
    width: 100%;
    height: 0.7rem;
    /* background: blue; */
}
.content ul li{
    text-align: center;
    width: 24.3%;
    height: 0.7rem;
    font-size: 0.28rem;
    float: left;
    line-height: 0.7rem;
    border:1px solid #d1d1d1;
}
.buttomR{
    width:3.5rem;
    height: 0.88rem;
    background-color: #28995c;
	border-radius:0.44rem;
    border: solid 4px #30be71;
    margin: 1.3rem auto;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.88rem;
    color: #fff;

}
.buttomR a{
	color: #fff;
}
.footr{
    width: 6.75rem;
    height:3rem;
    margin: 0 auto;
	font-family: PingFangSC-Regular;
	font-size: 2.6rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 4rem;
	letter-spacing: 0px;
    color: #999999;
    padding-top: 20px;
}
.footr p{
	width: 6.75rem;
	font-family: PingFangSC-Regular;
	font-size: 0.26rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.4rem;
	letter-spacing: 0px;
	color: #999999;
}
.footr .luse{
    font-size: 0.3rem;
    color: #000;
}
.footr .luse span {
    display: inline-block;
    width: 0.1rem;
	height: 0.24rem;
	background-color: #28d58c;
}
.liebiao{
	width: 6.9rem;
	height: 4.8rem;
	font-size:0.3rem; 
	border-radius: 0.2rem;
	border: solid 1px #d1d1d1;
	text-align: center;
	margin-left: 3.5%;
	
}
.liebiao ul{
	width:6.9rem;
	height: 0.8rem;
	line-height: 0.8rem;
}
.liebiao ul li{
	width: 1.5rem;
	height: 0.8rem;
	float: left;
}
